@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p>E-Commerce app with authentication and payment capabilities</a>.</p>
</div>

<div class="row">
    <h1 class="display-4"> Using EntityFramework Core for database</h1>
</div>

<div class="col-md-4">
    <h2>Design Tutorials</h2>
    <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
</div>


